<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css'/>
    </head>
    <body>
        <h1><%= title %></h1>
        <h2>Read from config: <%= config %></h2>
        <h2><a href="/auth/google">Authenticate with Google</a></h2>
    </body>
</html>
